In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split, cross_val_score
import sklearn.metrics as metrics
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('./data/titanic_modeling.csv').drop(['Unnamed: 0', 'PassengerId'], axis = 1)

In [3]:
df.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Embarked_C,Embarked_S,Cabin_letter_A,Cabin_letter_B,Cabin_letter_C,Cabin_letter_D,Cabin_letter_E,Cabin_letter_F,Cabin_letter_N,Cabin_letter_T
0,0,3,22,1,0,7.2500,0,0,1,0,0,0,0,0,0,1,0
1,1,1,38,1,0,71.2833,1,1,0,0,0,1,0,0,0,0,0
2,1,3,26,0,0,7.9250,1,0,1,0,0,0,0,0,0,1,0
3,1,1,35,1,0,53.1000,1,0,1,0,0,1,0,0,0,0,0
4,0,3,35,0,0,8.0500,0,0,1,0,0,0,0,0,0,1,0

In [4]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Survived', axis = 1), df['Survived']) 

model = LogisticRegression(max_iter=500)
model.fit(X_train, y_train)

print('Train:', model.score(X_train,y_train))
print('Test: ',  model.score(X_test,y_test))
np.average(cross_val_score(model, df.drop('Survived', axis = 1), df['Survived'], cv=3))

Train: 0.8158682634730539
Test:  0.7847533632286996

0.7822671156004489

In [5]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Survived', axis = 1), df['Survived']) 

model = RandomForestClassifier()
model.fit(X_train, y_train)

print('Train:', model.score(X_train,y_train))
print('Test: ',  model.score(X_test,y_test))
np.average(cross_val_score(model, df.drop('Survived', axis = 1), df['Survived'], cv=3))

Train: 0.9880239520958084
Test:  0.8026905829596412

0.7946127946127947